<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dompet Digital</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="container">
      <header class="main-header">
        <h1>Dompet Digitalku 💸</h1>

        <% if (user) { %>
        <span class="greeting-text">Halo, <%= user.name %></span>
        <% } %>

        <p>
          Yuk, mulai atur keuanganmu biar makin pinter! Caranya gampang kok, cukup catat setiap duit yang masuk sama yang keluar. Nanti kamu bisa lihat jelas banget ke mana aja larinya uangmu. Jadi, nabung atau ngejar tujuan finansial juga bakal lebih gampang!
        </p>

        <% if (user) { %>
        <div class="header-nav-buttons">
          <a href="/categories" class="btn-manage-cat">Kelola Kategori</a>
          <a href="/auth/logout" class="btn-logout">Logout</a>
        </div>
        <% } %>
      </header>
    </div>
  </body>
</html>
