<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrasi - Dompet Digital</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container auth-container">
      <header class="main-header">
        <h1>Buat Akun Baru</h1>
      </header>
      <main>
        <section class="form-container">
          <form action="/auth/register" method="POST">
            <div class="form-control">
              <label for="name">Nama</label>
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Masukkan nama Anda"
                required
              />
            </div>

            <div class="form-control">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Masukkan email Anda"
                required
              />
            </div>
            <div class="form-control">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Buat password"
                required
              />
            </div>
            <button type="submit" class="btn">Daftar</button>
          </form>
          <p style="text-align: center; margin-top: 20px">
            Sudah punya akun? <a href="/auth/login">Login di sini</a>
          </p>
        </section>
      </main>
    </div>
  </body>
</html>
